a {
    color: white;
}

a:link {
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

body {
    background-color: black;
    font-family: futura-pt, sans-serif;
    color: white;
    text-align: center;
}

.myname {
    font-family: futura-pt, sans-serif;
    font-size: 38px;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 0.02em;
    margin-top: 24px;
}

.artanddesign {
    font-family: futura-pt, sans-serif;
    font-size: 34px;
    font-weight: 100;
    font-style: normal;
    letter-spacing: 0.22em;
    margin-bottom: 24px;
}

nav {
    font-family: futura-pt, sans-serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.07em;
    margin-bottom: 24px;
}

.navthesqueakquel {
    font-family: futura-pt, sans-serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.07em;
    margin-bottom: 24px;
    margin-top: 50px;
}

h1 {
    font-family: futura-pt, sans-serif;
    font-size: 38px;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 0.07em;
    margin-bottom: 50px;
    Margin-top: 50px;
    text-transform: uppercase;
}

table,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
    color: white;
    padding: 15px;
    margin: auto;
}

.rectangle {
    width: 400px;
    height: 300px;
    background-color: white;
}

hr {
    margin-top: 100px;
    margin-bottom: 25px;
    width: 1064px;
}

.three-column-grid {
    display: grid;
    /* grid-template-columns: 300px 300px 300px; */
    grid-template-columns: repeat(3, 300px);
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    /* gap: 20px; */
    gap: 50px;
}

.three-column-grid p {
    margin-top: 0;
    margin-bottom: 0;
}

.two-column-grid {
    display: grid;
    /* grid-template-columns: 300px 300px 300px; */
    grid-template-columns: repeat(2, 400px);
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    /* gap: 20px; */
    gap: 50px;
}

.two-column-grid p {
    margin-top: 0;
    margin-bottom: 0;
}

.tabletext {
    font-family: futura-pt, sans-serif;
    font-size: 20px;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 0.07em;
    margin-top: 24px;
    text-align: center;
}

.social-icons img {
    padding-left: 20px;
}

p {
    font-family: futura-pt, sans-serif;
    font-size: 20px;
    font-weight: 100;
    font-style: normal;
    letter-spacing: 0.07em;
    text-align: left;
    max-width: 40ch;
}

.yourmama {
    font-family: futura-pt, sans-serif;
    font-size: 20px !important;
    font-weight: 100 !important;
    font-style: normal !important;
    letter-spacing: 0.07em !important;
    text-align: center !important;
    max-width: 40ch !important;
    padding-left: 300px !important;
    Padding-right: 300px !important;
    padding-bottom: 24px;
}
